# Ignorar archivos de clase de Java
*.class

# Ignorar archivos generados por el IDE
*.log
*.tmp

# Ignorar archivos específicos
 Main.Java
act1
calculadora.java
tarea.java
tarea2/unidad2
tarea6.java
tarea8
